<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>CFBundleURLTypes</key>
<array>
  <dict>
  <key>CFBundleURLSchemes</key>
  <array>
    <string>fb634991141714520</string>
  </array>
  </dict>
</array>
<key>FacebookAppID</key>
<string>634991141714520</string>
<key>FacebookClientToken</key>
<string>fbd4aa00d36bef42650964ef6c3f4e26</string>
<key>FacebookDisplayName</key>
<string>Login-Auth-RQL</string>
<key>LSApplicationQueriesSchemes</key>
<array>
  <string>fbapi</string>
  <string>fb-messenger-share-api</string>
</array>
</dict>
</plist>
